<html>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <body>

        <div id="detail">
            <table>
                <tr>
                    <th>Title</th>
                    <th>{{ entity.title }}</th>
                </tr>
                <tr>
                    <th>Author</th>
                    <th>{{ entity.author }}</th>
                </tr>
                <!-- and it goes so on and on -->
            </table>
            <p>Title: <input v-model="title" type="text"></p>
            <p>Author: <input v-model="author" type="text"></p>
            <p>Password: <input v-model="password" type="text"></p>
            <p>Content: <input v-model="content" type="text"></p>
            
            <button v-on:click="submit">submit</button>
        </div>
    </body>
    <script src="./update.js"></script>
</html>